
.no-style .ng-valid {
    border-left: 1px  solid #CCC
  }
  
    .no-style .ng-invalid {
    border-left: 1px  solid #CCC
  }
.container2 {
    // width: 600px;
    // height: 600px;
    background-color: #619E8F;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.cont{
  width: 50%;
  background-color: #CCC;
  
}

.imgb{
  height:90vh;
  width: 100%;
  margin-top: 0 !important;
  background-image: url("../../../assets/images/fondo1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
