<div class="cont imgb row justify-content-right">
  <!-- <img src="../../assets/images/login3.jpg" class="imgb" alt="..."> -->
  <div class="card card-login">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body row justify-content-center">
      <h5 class="card-title">Inicio de Sesión</h5>
    
        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
            <div class="form-group">
              <label for="email">Correo Electrónico</label>
              <input
                type="email"
                class="form-control"
                formControlName="usuario" 
                id="email"
                required
                name="email"
              />
            </div>
    
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input
                type="password"
                formControlName="password" 
                class="form-control"
                id="password"
                required
                name="name"
              />
            </div>
    
            <div *ngIf="vacio" class="alert alert-danger">
              Debe llenar todos los campos
            </div>
            <div *ngIf="error" class="alert alert-danger">
              Correo o Contraseña invalida
            </div>
            <br/>
            <button
              type="submit"
              class="btn btn-success"
              value="Log In"
            >
              Iniciar sesion
            </button>
          </form>
      </div>
     
    </div>

</div>
