.cont{
    width: 50%;
    background-color: #CCC;
    
  }

  .imgb{
    height:90vh;
    width: 100%;
    margin-top: 0 !important;
    background-image: url("../../../assets/images/fondo1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }