<app-nav-bar></app-nav-bar>
<div class="container text-center " style="margin-top: 1vh;">
    <div class="row">
      <table class="table">
    <thead class="table-dark">
       <tr>
        <th scope="col">IdHeroe</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Correo</th>
        <th scope="col">Nro. Celular</th>
      </tr>
    </thead>
    <tbody class="table-group-divider"*ngIf="characters$ |async as characters">
      <tr *ngFor="let hero of characters">
        <th>{{hero.idUserLanding}}</th>
        <td>{{hero.names}}</td>
        <td>{{hero.lastNames}}</td>
        <td>{{hero.email}}</td>
        <td>{{hero.phone}}</td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>