<app-nav-bar></app-nav-bar>
<div class="justify-content-right imgb">
  <br>
  <br>
  <br>
  <div class="container text-center cont" >
   
    <div class="row">
      <table class="table">
    <thead class="table-dark">
       <tr>
        <th scope="col">ID</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">DNI</th>
        <th scope="col">TEFEFONO</th>
        <th scope="col">CORREO</th>
      </tr>
    </thead>
    <tbody *ngFor="let characters of characters$" (click)="editPatient(characters.PacienteId)">
      <tr>
        <th scope="row">{{characters.PacienteId}}</th>
        <td>{{characters.Nombre}}</td>
        <td>{{characters.DNI}}</td>
        <td>{{characters.Telefono}}</td>
        <td>{{characters.Correo}}</td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>
</div>
